@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #ffffff;
}

.test {
  background: radial-gradient(circle, #4b5563 0%, rgba(15, 23, 42, 0.45) 100%);
}
